@import 'variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bw-box{
    width: calc(100% - 330px);
    margin: 0 auto;
  }

header{
  width: 100%;
  height: 115px;
  .header-top{
    h6{
      color: grey;
      margin-left: 30px;
      margin-top: 15px;
      font-family: $primary_character;
      font-size: 12px;
      margin-bottom: 0;
    }
    h5{
      color: white;
      font-family: $primary_character;
      font-size: 14px;
      margin-left: 30px;

    }
    .cart{
      width: 20px;
      height: 20px;
      margin-top: 22px;
      margin-bottom: 23px;
      margin-left: 100px;
      img{
        width: 100%;
      }
    }
    height: 50%;
    background-color: $primary_color;
    .bw-box{
    display: flex;
    flex-wrap: wrap;
    .logo{
      width: 160px;
      padding: 16px 0;
    }
    .header-top-categories{
      font-family: $primary_character;
      font-weight: bold;
      font-size: 14px;
      width: 160px;
      height: 35px;
      padding: 9px 15px;
      background-color: #F1F1F1;
      margin: 10px 20px;
      span{
        padding-left: 26px;
      }
    }
    .header-top-search{
      width: 475px;
      height: 35px;
      margin: 10px 0 9px -20px;
      border: none;
      padding-left: 15px;
    }
    .header-top-btn{
      background-color: $secondary_color;
      width: 65px;
      height: 35px;
      margin: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
   }
  }

  .header-bottom{
    height: 50%;
    background-color: $secondary_color;
    ul{
      list-style: none;
      display: flex;
      li{
        margin-right: 30px;
        margin-top: 20px;
        font-family: $primary_character;
        color: white;
      }
    }
  }
}

main{
  min-height: 3000px;
  .bw-box{
    position: relative;
    p:first-child{
      font-family: $primary_character;
      color: white;
      margin-top: 30px;
      span{
        color: grey;
      }
    }
    p:nth-child(2){
      margin-top: 86px;
      color: white;
      font-family: $secondary_character;
      font-size: 50px;
      font-weight: bold;
    }
  }
  width: 100%;
  background-image: linear-gradient(0deg, rgba(35, 31, 32, 0.7), rgba(35, 31, 32, 0.7)), linear-gradient(175.6deg, #231F20 10.94%, #94171C 100%);
  .jumbotron{
    position: absolute;
  }

  p{
    position: absolute;
  }

  .left-menu{
    width: 25%;
    min-height: 0px;
    background-color: $secondary_color_card;
    color:  white;
    position: absolute;
    font-family: $primary_character;
    top: 265px;
    .left-menu-top{
      width: 100%;
      height: 45px;
      background-color: $primary_color_card;
      font-family: $primary_character;
      padding: 15px;
    }

    .left-menu-bottom{
      h1{
        padding: 30px 15px 20px 15px;
        font-size: 10px;
      }
      .left-menu-categories{
      font-family: $primary_character;
      color: black;
      font-weight: bold;
      font-size: 14px;
      width: 225px;
      height: 35px;
      padding: 9px 15px;
      background-color: #F1F1F1;
      margin: 0px auto;
      span{
        text-align: center;
        padding-left: 65px;
      }
    }
    .left-menu-categories:nth-of-type(2){
      span{
        padding-left: 94px;
      }
    }
    .left-menu-categories:nth-of-type(3){
      span{
        padding-left: 96px;
      }
    }

    .left-menu-check{
      padding: 18px;
      input{
        margin-right: 13px;
        background: $secondary_color_card;
      }
    }

    .line{
      width: 225px;
      height: 2px;
      border: 2px solid grey;
      margin: 0 auto;
      position: relative;
      .red-line{
        width: 70%;
        height: 100%;
        border: solid 2px $secondary_color;
        position: absolute;
        top: -2px;
        left: -2px;
      }
      .ball{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $secondary_color;
        position: absolute;
        top: -6px;
        left: -5px;
      }

      .ball:last-of-type{
        left: 150px;
      }
    }
    .price-left-menu{
      display: inline-block;
      margin-top: 15px;
    }

    .price-left-menu:first-of-type{
      margin-right: 155px;
      margin-left: 10px;
    }

    .left-menu-btn{
      background-color: $secondary_color;
      width: 225px;
      height: 35px;
      margin: 38px auto;
      padding: 9px 0;
      text-align: center;
      color: white;
      font-weight: bold;
    }
    }
  }
  


  .right-main{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 265px;
    left: 255px;
    width: 75%;
    min-height: 1000px;
    .deal-card{
        width: 232px;
        height: 307px;
        background-color: #fff;
        margin-left: 20px;
        margin-bottom: 20px;
        .deal-card-photo{
          width: 100%;
          padding: 16px;
          img{
            width: 100%;
          }
        }
        .deal-card-description{
          width: 100%;
          height: 110px;
          background-color: $primary_color_card;
          color: white;
          font-family: $primary_character;
          font-size: 16px;
          p{
            padding: 16px 16px 26px 16px;
          }
          div{
            padding-left: 16px;
            font-size: 10px;
          }
        }
        .deal-card-bottom{
          position: relative;
          width: 100%;
          height: 56px;
          background-color: #313439;
          img{
            margin: 18px;
          }
          .price{
            position: absolute;
            color: white;
            bottom: 7px;
            right: 14px;
            font-size: 20px;
            font-weight: bold;
            font-family: $primary_character;
          }
          .old-price{
            position: absolute;
            display: inline-block;
            color: grey;
            text-decoration: line-through;
            bottom: 34px;
            right: 16px;
            font-size: 12px;
            font-weight: bold;
            font-family: $primary_character;
          }
        }
    
      }
  }
}

footer{
  h1{
    color: white;
    font-family: $primary_character;
    margin-top: 60px;
  }
  width: 100%;
  height: 282px;
  background-color: $primary_color;
  border-top: 2px solid $secondary_color;
  .bw-box{
    position: relative;
  }
  .e-mail{
        width: 350px;
        height: 35px;
        display: inline-block;
        padding-left: 10px;
        position: absolute;
        top: 60px;
        left: 0px;
      }
      .e-mail-btn{
        div{
          width: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        display: flex;
        justify-content: center;
        width: 50px;
        height: 34px;
        border: none;
        background-color: #AE1B21;
        position: absolute;
        top: 61px;
        left: 349px;
      }

      .bo{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin-left: 50%;
        div{
          margin-right: 59px;
          margin-top: 20px;
        }
        ul{
          list-style: none;
          color: white;
          font-family: $primary_character;
          font-weight: bold;
          li{
            margin-bottom: 10px;
          }
        }
      }
}